body {
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  padding:0%;
  margin:0%;
}
.navLink{
  color:black;
}
footer {
  border: 5px solid black;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  position:sticky;
  background-color: black;
  color:white;
  text-align: center;

}
#to-doContainer {
  border-bottom: black solid 5px;
  align-self:auto;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}
#list :nth-child(even){
  background-color: rgba(33,33,33,0.3);
}
#list {
  border: 0%;
  padding:0%;
  margin:0%;
}
ul {
  list-style-type: none;
}